<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="food map" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Find Food You'll Love. 
			</p>
            <p style="font-size: smaller;">This map will be bigger and interactive eventually.</p>
		</div>
	</div>
	<div>
		<h2>Clever tagline about how Hoggish Nomad is so great.</h2>
		<p>Then we'll put something more serious and to the point about how the application functions.</p>
		<p>You're still reading? Hear we'll get into the nitty gritty about what you can do with Hoggish Nomad:</p>
		<ul>
			<li>
				Combining passion for
			</li>
			<li>
				GIS and food
			</li>
            <li>
				Hoggish can do some
			</li>
			<li>
				Really cool stuff
			</li>			
			<li>
				Have fun...
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				<strong>L</strong>ist
			</h2>
			<p>More in-depth discussion about this feature. How it works and how to use it.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>O</strong>f
			</h2>
			<p>More in-depth discussion about this feature. How it works and how to use it.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>C</strong>ool
			</h2>
			<p>More in-depth discussion about this feature. How it works and how to use it.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>F</strong>eatures
			</h2>
			<p>More in-depth discussion about this feature. How it works and how to use it.</p>
		</div>
	</div>
	<div class="well">
		<h2>Hoggish Nomad Navigation</h2>
		<p>
			Give the user a call to action if they've gotten this far down the page. We'll likely just duplicate menu items as a list of links.
			<ul>
				<li><a href="#" onclick="return false;">Recipes</a>
				</li>
				<li><a href="#" onclick="return false;">Ingredients</a>
				</li>
				<li><a href="#" onclick="return false;">About</a>
				</li>
                <li><a href="#" onclick="return false;">Community</a>
				</li>
				<li><a href="#" onclick="return false;">Blog</a>
				</li>
				<li><a href="#" onclick="return false;">Sign Up</a>
				</li>
			</ul>
		</p>
	</div>
</section>
